<div class="container follow-container">
  <div class="row">
    <div class="col-12 mt-5 heading-ja">
      <h2>
        <mark class="bg-secondary text-light">
          <i class="fa-solid fa-user mr-2"></i>フォロワー 一覧
        </mark>
      </h2>
    </div>
  </div>
  <%= render 'list', {customer: @customer, customers: @customers} %>
</div>


