<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">

      <div class="mt-5">
        <h1>【About】</h1>
        <h3 class="mt-4 ml-5"><strong>KOKURUBA</strong>＜告る場＞とは…?</h3>
        <p class="offset-1 mt-3">明日は告白を控えた大事なデート、絶対に告白を成功させたい！</br>
           でもどこで告白していいのか…。</br>
           そんなあなたの不安を解消し、一発で理想の告白場所が探せるレビューサイト、それがKOKURUBA。</p>

        <h3 class="mt-5">【ご利用方法】</h3>
        <div class="d-flex flex-wrap">
          <div class="ml-5">
            <p>1.エリアと好きなタグを選択</p>
            <%= image_tag 'no_image', size: "300x200" %>
          </div>
          <div class="ml-5">
            <p>２.理想の告白スポットが表示</p>
            <%= image_tag 'no_image', size: "300x200" %>
          </div>
          <div class="ml-5 mr-5">
            <p>３.レビューや告白成功確立まで</p>
            <%= image_tag 'no_image', size: "300x200" %>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>