<div class="container">
  <div class="row">
    <div class="col-md-12 col-12 mt-3 about-font h1">【About】</div>
  </div>

  <div class="row mt-3 home-about-container">
    <div class="col-md-3 col-12 offset-md-1 logo">
      <%= image_tag 'KOKURUBA_logo', size: "230x230", class: "logo-img" %>
    </div>
    <div class="col-md-8 col-12">
      <h2 class="mt-5 home home-about-title animate-title inview">
        <i class="fa-solid fa-heart mr-2 home-about-heart char"></i>
        <span class="char">K</span>
        <span class="char">O</span>
        <span class="char">K</span>
        <span class="char">U</span>
        <span class="char">R</span>
        <span class="char">U</span>
        <span class="char">B</span>
        <span class="char">A</span>
        <span class="char">＜</span>
        <span class="char">告</span>
        <span class="char">る</span>
        <span class="char">場</span>
        <span class="char">＞</span>
        <span class="char">と</span>
        <span class="char">は</span>
        <span class="char">…</span>
        <span class="char">?</span>
      </h2>
      <div class="home-about-explanation">
        <p class="mt-3 ml-3">
          明日は告白を控えた大事なデート、絶対に告白を成功させたい！<br/>
          しかしどこで告白すればいいのか…。<br/>
          そんなあなたの不安を解消し、一発で理想の告白場所が探せるレビューサイト、<br/>
          それがKOKURUBA<告る場>。
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-12">
      <div class="mt-5 about-font h3">【ご利用方法】</div>
      <div class="d-flex flex-wrap">
        <div class="ml-md-5 ml-3 mb-5">
          <p>1.お好きな場所を地図で検索</p>
          <%= image_tag 'about-1', size: "300x250" %>
        </div>
        <div class="ml-md-5 ml-3 mb-5">
          <p>２.告白スポットのレビューや告白成功率まで</p>
          <%= image_tag 'about-2', size: "300x250" %>
        </div>
        <div class="ml-md-5 ml-3">
          <p>３.ランキング一覧や絞り込み検索も可能</p>
          <%= image_tag 'about-3', size: "300x250" %>
        </div>
      </div>
    </div>
  </div>
</div>





