<div class="container">

  <div class="row">
    <div class="col-12">
      <div class="mt-5">
        <h1>【About】</h1>
        <h2 class="mt-4 ml-5 home">
          <i class="fa-solid fa-heart mr-2" style="color: red;"></i>
          <strong>KOKURUBA</strong>
          <span class="ml-3">＜告る場＞とは…?</span>
        </h2>
        <p class="offset-1 mt-3">明日は告白を控えた大事なデート、絶対に告白を成功させたい！</br>
           でもどこで告白していいのか…。</br>
           そんなあなたの不安を解消し、一発で理想の告白場所が探せるレビューサイト、それがKOKURUBA<告る場>。</p>
        <h3 class="mt-5">【ご利用方法】</h3>
        <div class="d-flex flex-wrap">
          <div class="ml-4">
            <p>1.お好きな場所を地図で検索</p>
            <%= image_tag 'about-1', size: "300x250" %>
          </div>
          <div class="ml-4">
            <p>２.告白スポットのレビューや告白成功率まで</p>
            <%= image_tag 'about-2', size: "300x250" %>
          </div>
          <div class="ml-4 mr-4">
            <p>３.ランキング一覧や絞り込み検索も可能</p>
            <%= image_tag 'about-3', size: "300x250" %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>