<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h1>About</h1>
      <p>KOKURUBAとは…</p>
      <p>告白を控えた大事なデートの前日、明日は絶対にOKを貰いたい！</br>
         でもどこで告白すれば…。</br>
         そんな不安を解消し一発で理想の告白場所が探せるレビューサイト。</p>

      <h2>利用方法</h2>
      <p>エリアと好きなタグを選択</p>
      写真１
      <p>理想の告白スポットが表示</p>
      写真２
      <p>レビューや成功確立まで</p>
      写真３
    </div>
  </div>
</div>