<div class="container mt-5 text-center">

  <div class="row">
    <div class="col-md-12 col-12 mx-auto">
      <div class="home-top-image">
        <h1 class="display-1 home home-title" style="padding-top:150px;">KOKURUBA</h1>
        <div class="d-flex justify-content-center" style="background-color: rgba(0,0,0,0.6);">
          <div class="mr-5 home home-sub-title home">告る場</div>
          <div class="home home-sub-title">〜TOKYO〜</div>
        </div>
        <%= link_to "新規登録", new_customer_registration_path, class: "col-md-2 col-3  btn btn-success mt-3 home-btn" %>
        <%= link_to "ログイン", new_customer_session_path, class: "col-md-2 col-3  btn btn-primary  mt-3 mr-3 ml-3 home-btn" %>
        <%= link_to "サービス紹介",  homes_about_path, class: "col-md-2 col-3 btn btn-warning  mt-3 font-weight-bold home-btn" %>
      </div>
    </div>
  </div>

</div>