<div class="container">

  <div class="row">
    <div class="col-12 mt-5 heading-ja">
      <h2><mark class="bg-secondary text-light"><i class="fa-solid fa-tags mr-2"></i>タグ名編集</mark></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5">
      <div class="offset-1">
        <%= render 'form', tag: @tag %>
      </div>
    </div>
  </div>

</div>

