<div class="container">

  <div class="row">
    <div class="col-12 mt-5 heading-ja">
      <h2>
        <mark class="bg-secondary text-light">
          <i class="fa-solid fa-map mr-2"></i>
          エリア一覧・追加
        </mark>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5 ml-5">
      <%= render 'form', area: @area %>
      <table class="table text-light col-8">
        <thead style="background-color: #666633;">
          <tr>
            <th width="10%"></th>
            <th width="60%">エリア名</th>
            <th width="30%"></th>
          </tr>
        </thead>
        <tbody>
          <% @areas.each do |area| %>
          <tr>
            <td></td>
            <td><%= area.name %></td>
            <td><%= link_to "編集する", edit_admin_area_path(area), class:"btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
