@import '~bootstrap/scss/bootstrap';

@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: white;
  background-color: black;
}

.navbar {
  background-color: #333333;
}

#notice {
  text-align: center;
  background-color: #666600;
}

.nav-link {
  background-color: #BDB76B;
  width: 110px;
  font-size: 13px
}

.home-top-image {
  background-image: url("../images/home_top.png");
  background-size: cover;
  width: 1000px;
  height: 500px;
}

.admin_customer_list {
  color: black;
}


.tabbox-contents{
  color: black;
}

.customer-list {
  margin: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
  color: black;
}

.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  background-color: white;
}
.tab:first-child {
  border-left: none;
}

.tab-active {
  color: black;
  background-color: #BDB76B;
}

.tab-mouseover {
  background-color: #666633;
  transition: background-color 0.5s;
}


.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

.table-bordered thead th {
  border: 1.5px solid #808000;
}

.table-bordered tbody td {
  border: 1.5px solid #808000;
}

.table-bordered th {
  border: 1.5px solid #808000;
}

.table-bordered td {
  border: 1.5px solid #808000;
  padding: 10px;
}

.table-bg-color {
  background-color: #CCCC99;
}

#map {
  width: 950px;
  height: 500px;
}

#map_new {
  width: 950px;
  height: 400px;
}

#map_edit {
  width: 950px;
  height: 400px;
}

#map_edit_admin {
  width: 950px;
  height: 400px;
}

.navbar-toggler {
  background-color: white;
}

.star img {
  width: 16px;
  height: 20px;
}

.show-all-star img {
  width: 35px;
  height: 35px;
}

.show-star img {
  width: 25px;
  height: 25px;
}

.avg_confession_result {
  background-image: url("../images/avg_confession_result.png");
  background-size: cover;
  width: 150px;
  height: 150px;
}

// .ranking-tab {
//   width: 50px;
//   height: 50px;
//   margin-left: 10px;
//   background-color: #9933FF	;
// }


.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: white;
  background-color: #BDB76B;
  border: 1px solid #666600;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #808000;
  border-color: #666600;
}

.page-link:focus, .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #808000;
  border-color: #666600;
}

.field_with_errors{
  display: contents;
}

.post-item {
  background-color: #262626;
  padding: 10px;
  margin-bottom: 3px;
}

.post-form {
  background-color: #404040;
  padding: 10px;
  margin-bottom: 3px;
}

.biography{
    margin: 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    height: 150px;
    width: 500px;
}
.biography:before, .biography:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 1px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: white;
}
.biography:before {left: 10px;}
.biography:after {right: 10px;}
.biography p {
    margin: 0;
    padding: 0;
}

.follow-count {
    padding: 0 1em;
    margin: 2em 0;
    color: white;
    background: #404040;
    border-left: solid 10px white;
    width: 150px;
}

