@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: white;
  background-color: black;
}

.nav-link {
  background-color: #BDB76B;
  width: 110px;
  font-size: 13px
}

.home-top {
  background-image: url("../images/home_top.png");
  width: 500px;
  height: 500px;
}

.admin_customer_list {
  color: black;
}

.star img {
  width: 15px;
  height: 20px;
}

.ustomer-list {
  margin: 10px;
  border: 1px solid #ccc;
}

.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}

.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

#map {
  width: 800px;
  height: 400px;
}

.navbar-toggler {
  background-color: white;
}