@import '~bootstrap/scss/bootstrap';

@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: white;
  background-color: black;
}

.nav-link {
  background-color: #BDB76B;
  width: 110px;
  font-size: 13px
}

.home-top-image {
  background-image: url("../images/home_top.png");
  background-size: cover;
  width: 1000px;
  height: 500px;
}

.admin_customer_list {
  color: black;
}


.tabbox-contents{
  color: black;
}

.customer-list {
  margin: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
  color: black;
}

.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}

.tab-active {
  color: black;
  background: #999900;
  // transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

.table-bordered thead th {
  border: 1.5px solid #808000;
}

.table-bordered tbody td {
  border: 1.5px solid #808000;
}

.table-bordered th {
  border: 1.5px solid #808000;
}

.table-bordered td {
  border: 1.5px solid #808000;
}

#map {
  width: 900px;
  height: 400px;
}

.navbar-toggler {
  background-color: white;
}

.star img {
  width: 15px;
  height: 20px;
}

.show-all-star img {
  width: 35px;
  height: 35px;
}

.avg_confession_result {
  background-image: url("../images/avg_confession_result.png");
  background-size: cover;
  width: 150px;
  height: 150px;
}

.ranking-tab {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background-color: #9933FF	;
}